doctype html
html(lang="en" dir="ltr")
  head
    <meta charset="utf-8">
    <title>Foreign Installation</title>
    link(rel="stylesheet" href="style.css")
  body
    <h1>Dice Game</h1>
    span To Do: day countdown (for bard win), Influence countup (for monster win)
    #col-1
      input#roll-dice(type="submit" value="Roll Dice")
      input#roll-value(type="number" value="1")
      span#dice-outcome
      #beings-container
    #col-2
      input#conclude-first-phase(type="submit" value="Conclude First and Second Phase")
      input#take-turn(type="submit" value="Take Turn")
      //- span#turn-count
      p#round-status
      h3 People
      p
        span#influence-count
        span  / 
        span#people-count
        
    script(src="game.js")
    script(src="dice.js")
    script(src="beings.js")
    script(src="being.js")
    script(src="people.js")
    script(src="index.js")
