#col-1{
  width:50%;
  float:left;
}
#col-2{
  width:49%;
  float:left;
}
.disabled{
  opacity:0.5;
  pointer-events: none;
}
.being{
  padding-top:1rem;
  h4{
    display:inline;
    margin-right:.5rem;
  }
  .hp{
    margin-right:.5rem;
  }
}
